<%- include('partials/header', { title: 'gestion-solicitudes' }) %>

<h2>Gestión de Solicitudes</h2>

<h2>gestion solicitudes</h2>

<p>Contenido de la página gestion-solicitudes</p>
<%- include('partials/footer') %>
