<%- include('partials/header', { title: 'solicitar-evento' }) %>

<h2>Solicitar Evento</h2>

<h2>solicitar evento</h2>

<p>Contenido de la página solicitar-evento</p>
<%- include('partials/footer') %>
